{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}
    clientes
{% endblock titulo %}


{% block contenido %}
<div class="container">
    <table class="table p-4">
        <tr>
            <td width="200"><h1 class="text-center">Agregar Cliente</h1></td>
            <td>
                <a
                href="{% url 'create_cliente' %}"
                class="btn btn-primary btn-sm"
                ><i class="fa fa-plus fa-lg" title="New Record"> </i>
                </a>
            </td>
        </tr>
    </table>  
        <h2>clientes</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>

</div>


    {% for cliente in clientes  %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.DNI }}</td>
                <td>{{ cliente.email }}</td>
                <td>
                    <a
                        href="{% url 'update_cliente' cliente.id %}"
                        class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                        </a>
                        <a
                        href="{% url 'delete_cliente' cliente.id %}"
                        class="btn btn-danger"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>
                </td> 
            </tr>
    {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <img src="{% static 'img/3.jpg' %}" alt="diagnostico" class=" col-12 h-50">

    </div>

{% endblock contenido %}