{% extends 'aplicacion/base.html' %} 
{% load static %} 

{% block titulo %}
    Bienvenidos
{% endblock titulo %} 

{% block contenido %}
<div class="container text-center ">
    <div class="col-lg-6">
        <h2 class="text-center">Bienvenidos a MECANICA SERGIO ARIEL</h2>
        <form action="" method="post"  >
            {% csrf_token %} 
            <table>
            {{ form.as_table }}
            </table>
            <input type="submit" value="Enviar" class="btn btn-primary btn-lg mt-4">
        </form>

    </div>

    <div class="">
            <div class="">
            <img src="{% static 'img/1.png' %}" alt="Mi Imagen" class=" col-12 h-50">
           
        </div>
    </div>
</div>
{% endblock contenido %} 
