{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    patente
{% endblock titulo %}

{% block contenido %}
    <div class="container ">
        <h2 class="fs-1  fw-bold ">Agregar Patente</2>
            <form action="" method="post" >  
                {% csrf_token %} 
                <table >
                    {{ form.as_table }}
                </table>    
                <input type="submit" value="Enviar" class="btn btn-primary btn-lg mt-4 ">
            </form>
    </div>
{% endblock contenido %}